/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'The Wild Hammers Vintage';
  font-weight: 800;
}
h1 {
  font-size: 2rem;
  padding-bottom: 2%;
}
h2 {
  font-size: 2rem;
  padding-bottom: 2%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.2;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  width: 85%;
  border-radius: 5%;
  background-color: #38524f;
  padding: 2%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 10%;
}
.btn2 {
  width: 100%;
  border-radius: 5%;
  background-color: #38524f;
  padding: 2%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
}
header {
  min-width: 100%;
  display: inline-block;
  margin-top: 2%;
}
.top-section {
  padding-left: 5%;
  padding-right: 5%;
}
.top-img {
  max-width: 500px;
}
@media (min-width:700px) {
  .top-img {
    max-width: 700px;
    margin-left: 12%;
  }
}
@media (min-width:700px) {
  .border-img {
    margin-left: 20%;
  }
}
@media (min-width:700px) {
  .border-img2 {
    margin-left: 25%;
    margin-top: 5%;
  }
}
@media (min-width:700px) {
  .border-img3 {
    margin-left: 5%;
  }
}
.top-content-section {
  padding-top: 3%;
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.top-content-section .text-content {
  width: 95%;
  margin: auto 0;
  padding-left: 3%;
}
@media (min-width:700px) {
  .top-content-section .text-content {
    width: 50%;
    padding: 1%;
  }
}
.enjoyment {
  max-width: 60%;
  margin-left: 20%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
@media (min-width:700px) {
  .energized-section {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
  }
}
.energized {
  display: none;
}
@media (min-width:700px) {
  .energized {
    display: block;
    max-width: 30%;
    max-height: 50%;
    margin-top: 2%;
    margin-left: 5%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
  }
}
@media (min-width:700px) {
  .energized-text {
    max-width: 60%;
    margin-top: 7%;
  }
}
.third-content-section {
  padding-left: 2%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.third-content-section .img-content {
  width: 70%;
  padding-left: 3%;
}
.third-content-section .img-content img {
  border-radius: 10px;
}
.energized-text {
  padding-left: 5%;
  padding-right: 5%;
}
.aside {
  display: none;
}
@media (min-width:700px) {
  .aside {
    display: block;
    max-width: 40%;
    border-left: 0.02px solid black;
    padding: 2%;
    margin-top: 5%;
    font-style: italic;
  }
}
.third-content-section .text-content {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}
.third-content-section .img-content {
  width: 90%;
  align-content: center;
  margin-top: 5%;
}
.team {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5%;
  align-items: center;
  border: 0.5px solid #38524f;
  min-height: 100%;
  margin: 3%;
}
@media (min-width:700px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
}
.Meet-Our-Team {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.kayla,
.adrian,
.brian,
.katrina,
.james {
  position: relative;
  width: 100%;
  margin-top: 3%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
@media (min-width:700px) {
  .kayla,
  .adrian,
  .brian,
  .katrina,
  .james {
    max-width: 45%;
    padding: 1%;
  }
}
@media (min-width:700px) and (min-width:1024) {
  .kayla,
  .adrian,
  .brian,
  .katrina,
  .james {
    max-width: 50%;
  }
}
.kayla-img,
.adrian-img,
.brian-img,
.katrina-img,
.james-img {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 3%;
  left: 3%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #38524f;
}
.kayla:hover .overlay,
.adrian:hover .overlay,
.brian:hover .overlay,
.katrina:hover .overlay,
.james:hover .overlay {
  opacity: 1;
  transform: rotateY(180deg);
}
.icon2 {
  color: white;
  font-size: 40px;
  position: absolute;
  transform: rotateY(180deg);
  text-align: center;
  top: 50%;
  right: 40%;
}
.icon3 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 70%;
  right: 40%;
  transform: rotateY(180deg);
  text-align: center;
}
.text-overlay {
  margin-top: 10%;
  transform: rotateY(180deg);
  text-align: center;
  color: white;
}
fa-user:hover {
  color: #eee;
}
.adrian,
.brian,
.katrina {
  margin-top: 6%;
}
.arian .overlay .icon3,
.katrina .overlay .icon3 {
  display: none;
}
.footer {
  width: 100%;
  background: silver;
  padding-bottom: 3%;
}
