@import "reset.less";
@import "global.less";

@import "variables.less";
@import "mixins.less";

@import "header.less";
@import "body.less";
@import "footer.less";

 header {
    min-width:100%;
    display:inline-block;
    margin-top:2%;
    }
        
  .top-section {
    padding-left:5%;
    padding-right:5%;
  }

  .top-img {
    max-width:500px;

    @media @tablet {
      max-width: 700px;
     margin-left:12%;
    }
  }
  .border-img {
    @media @tablet {
      margin-left:20%;
    }
  }

  .border-img2 {
    @media @tablet {
      margin-left:5%;
    }
  }
  
.content-section {
    padding-top:3%;
    padding-left:3%;

    .text-content {
        width:95%;
        margin:auto 0;
        padding-left:3%;
      }
    }

  // .center-imgs {
  //   display:flex;
  //   flex-direction:row;
  //   flex-wrap:no-wrap;
  //   width: 100%;
  // }

    .enjoyment {
    max-width: 60%;
    margin-left: 20%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;

    @media @tablet {
       display:none;
       }
    }

    .energized {
      display:none;

      @media @tablet {
       display:block;
       max-width:30%;
       max-height:50%;
       margin-top: 8%;
       margin-left: 5%;
       padding: 1%;
       border-radius: 10px;
       box-shadow: 5px 5px 5px grey;
      }
    }

  .energized-section {
    margin-top:5%;

    @media @tablet {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-text: wrap;
    width: 100%;
    }
  }
    
 .energized-section .energized .energized-text {
    @media @tablet {
      max-width:50%;
      margin-top: 3%;
     }
  }
      
  
.third-content-section {
  padding-left:5%;
  padding-right:5%;

      .img-content {
        width: 70%;
        padding-left:3%;
  
        img {
          border-radius: 10px;
        }
      }
    }
  
  
     .energized-text {
        padding-left: 5%;
        padding-right: 5%;
      }
    

  .third-content-section .text-content {
    padding-left:5%;
    padding-right:5%;
  }

  .third-content-section .img-content {
      width: 90%;
      align-content: center;
      margin-left:4%;
  }

  .team {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:flex-start;
    justify-content:space-around;
  
    padding:5%;
    align-items: center;
    border: .5px solid #38524f;
    min-height:100%;
    margin: 3%;
  }

.Meet-Our-Team {
  width: 100%;
  margin-left:5%;
  margin-right:5%;
}

.kayla, .adrian, .brian, .katrina {
  position:relative;
  width: 100%;
  // padding-left:5%;
  // padding-right:3%;
  margin-top:3%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  @media @tablet {
    max-width:50%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;

    @media @desktop {
      max-width:50%;
    }
  }
}

.kayla-img, .adrian-img, .brian-img, .katrina-img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 3%;
  left: 3%;
  right: 0;
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: @green;
  padding:1.5%;
  opacity: 5%;
}

.kayla:hover .overlay, .adrian:hover .overlay, 
.brian:hover .overlay, .katrina:hover .overlay {
  opacity: 1;
  transform: rotateY(180deg);
}

.icon2 {
  color: white;
  font-size: 40px;
  position: absolute;
  transform: rotateY(180deg);
  text-align: center;
  top: 50%;
  right: 40%;
}
.icon3 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 70%;
  right: 40%;
  transform: rotateY(180deg);

  text-align: center;
}
.text-overlay {
  margin-top:10%;
  transform: rotateY(180deg);
  text-align:center;
  color: white;
}
fa-user:hover {
  color: #eee;
}

.adrian, .brian, .katrina {
  margin-top:6%;
}

.arian .overlay .icon3,
.katrina .overlay .icon3 {
  display:none;
}


.footer {
  width: 100%;
  background: silver;
  padding-bottom:3%;
}
